.reservations-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.reservations-btns-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 5px;
}

.reservations-btns-wrapper a,.reservations-btns-wrapper p {
  margin-left: 5px;
}
